<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Smart Home</title>
</head>
<body>
    <h1>Xin chào, {{userName}}!</h1>
    <p>Chào mừng bạn đã gia nhập hệ thống Smart Home của chúng tôi.</p>
    <p>Tài khoản của bạn đã được tạo thành công.</p>
    <br/>
    <p>Trân trọng,</p>
    <p>Smart Home Team</p>
</body>
</html>
